:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: -50px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  
}

.board h1 {
  color: #fa04d1;
  margin-bottom: 16px;
}

.board button {
  padding: 8px 12px;
  margin: 5px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover {
  background: #eee;
  color: #222;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.game{
  padding: 15px;
}

section.contador {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 15px;
}

.points, .record {
  border: 2px solid #eee;
  color: #eee;
  width: 150px;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px;
  align-items: center;
  font-weight: bold;
}

.record {
  color: rgb(246, 50, 203); 
  border: 2px solid rgba(246, 50, 204, 0.711);
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.square[data-value="2"]{
  background-color: #f6c4e8ea;   
}
.square[data-value="4"]{
  background-color: #f980d79d;
}
.square[data-value="8"]{
  background-color: #ff6dd6cb;
}
.square[data-value="16"]{
  background-color: #ff53ced3;
}
.square[data-value="32"]{
  background-color: #f800b1;
}
.square[data-value="64"]{
  background-color: #f800dfc1;
}
.square[data-value="128"]{
  background-color: #f800df94;
}
.square[data-value="256"]{
  background-color: #f800df77;
}
.square[data-value="512"]{
  background-color: #e800f877;
}
.square[data-value="1024"]{
  background-color: #e800f8cd;
  font-size: 5vw;

}
.square[data-value="2048"]{
  background-color: #ee02ff;
  font-size: 5vw;
}

.square[data-value="4096"],
.square[data-value="8192"],
.square[data-value="16384"],
.square[data-value="32768"]
{
  background-color: #93048e;
  font-size: 5vw;
}





.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 48px;
}